/********************************
        Login page
 ********************************/

.login-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/********************************
        Main body
 ********************************/

.content{
  width: 80%;
  padding-left: 10%;
}

.tickets_meta{
  opacity: 0.6;
  padding-left: 5%;
  font-size: 0.8em;
}

.ticket_reference{
  margin-bottom: 15px;
}

.Stats{
  padding: 10%;
}

/* #chart{
  max-width: 600px;
  align-content: center;
} */


