<ul class="nav nav-tabs">
    <li class="nav-item">
      {% if title == 'Overview' %}
        <a class="nav-link active" href="{{ url_for('overview') }}">Overview</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('overview') }}">Overview</a>
      {% endif %}
    </li>
    
    <li class="nav-item">
      {% if title == 'Register' %}
        <a class="nav-link active" href="{{ url_for('register') }}">Create New User</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('register') }}">Create New User</a>
      {% endif %}
    </li>

    <li class="nav-item">
      {% if title == 'Users' %}
        <a class="nav-link active" href="{{ url_for('choice_profile') }}">Users</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('choice_profile') }}">Users</a>
        {% endif %}
    </li>

    <li class="nav-item">
      {% if title == 'AllTickets' %}
        <a class="nav-link active" href="{{ url_for('all_tickets') }}">All tickets</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('all_tickets') }}">All tickets</a>
        {% endif %}
    </li>

    <li class="nav-item">
      {% if title == 'edit_team' %}
        <a class="nav-link active" href="{{ url_for('edit_teams') }}">Edit Teams</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('edit_teams') }}">Edit Teams</a>
        {% endif %}
    </li>

    <li class="nav-item">
      {% if title == 'edit_topic' %}
        <a class="nav-link active" href="{{ url_for('edit_topics') }}">Edit Topics</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('edit_topics') }}">Edit Topics</a>
        {% endif %}
    </li>
    
    {% if title == 'edit_profile' %}
    <li class="nav-item">
      <a class="nav-link disabled active" href="#" tabindex="-1" aria-disabled="true">Editing User</a>
    {% endif %}
    </li>
</ul>

