<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if title == 'mytickets' %}
      <a class="nav-link active" href="{{ url_for('mytickets_raised', username=current_user.username) }}">My Tickets</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('mytickets_raised', username=current_user.username) }}">My Tickets</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if title == 'handling' %}
      <a class="nav-link active" href="{{ url_for('handling', username=current_user.username) }}">In Progress</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('handling', username=current_user.username) }}">In Progress</a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if title == 'Change Password' %}
      <a class="nav-link disabled" href="#">My Team Issues</a>
    {% else %}
      <a class="nav-link disabled" href="#">My Team Issues</a>
    {% endif %}
  </li>
</ul>