<ul class="nav nav-tabs">
  <li class="nav-item">

    <li class="nav-item">
      {% if title == 'handling' %}
        <a class="nav-link active" href="{{ url_for('handling', username=current_user.username) }}">Handled by me</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('handling', username=current_user.username) }}">Handled by me</a>
      {% endif %}
    </li>

    {% if title == 'mytickets' %}
      <a class="nav-link active" href="{{ url_for('mytickets_raised', username=current_user.username) }}">Raised by me</a>
    {% else %}
      <a class="nav-link" href="{{ url_for('mytickets_raised', username=current_user.username) }}">Raised by me</a>
    {% endif %}
  </li>

  <li class="nav-item">
    {% if title == 'Change Password' %}
      <a class="nav-link disabled" href="#">My Team Issues</a>
    {% else %}
      <a class="nav-link disabled" href="#">My Team Issues</a>
    {% endif %}
  </li>
</ul>