<ul class="nav nav-tabs">
    <li class="nav-item">
      {% if title == 'settings' %}
        <a class="nav-link active" href="{{ url_for('settings', username=current_user.username) }}">About</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('settings', username=current_user.username) }}">About</a>
      {% endif %}
    </li>
    
    <li class="nav-item">
      {% if title == 'Register' %}
        <a class="nav-link active" href="#">link</a>
      {% else %}
        <a class="nav-link" href="#">link</a>
      {% endif %}
    </li>

    <li class="nav-item">
      {% if title == 'Change Password' %}
        <a class="nav-link active" href="{{ url_for('change_password') }}">Change Password</a>
      {% else %}
        <a class="nav-link" href="{{ url_for('change_password') }}">Change Password</a>
        {% endif %}
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Change User Profile</a>
    </li>
</ul>


