<table class="table table-striped">
    <tr valign="top">
        <td> <a href="{{ url_for('ticket_view', id=ticket.id) }}"><h5 class="ticket_reference">Ref:{{ ticket.id }} {{ ticket.title }} </h5></a> 
            {% if ticket.description|length < 20 %}
                <b>Description: </b>
                {{ ticket.description }} 
            {% else %}
                <b>Description: </b>
                {{ ticket.description[0:100] }} (...)
            {% endif %}
            <p class="tickets_meta" >
            {% if ticket.ticket_severity.degree == 'low' %}
                <br>Priority: <span style="color: #3CD448;">{{ ticket.ticket_severity.degree }}</span>
            {% elif ticket.ticket_severity.degree == 'medium' %}
                <br>Priority: <span style="color: #B1E001;">{{ ticket.ticket_severity.degree }}</span>
            {% elif ticket.ticket_severity.degree == 'high' %}
                <br>Priority: <span style="color: rgb(238, 200, 8);">{{ ticket.ticket_severity.degree }}</span>
            {% else %}
                <br>Priority: <span style="color: #DD0A08;">{{ ticket.ticket_severity.degree }}</span>
            {% endif %}
            <br>
            Reported by: {{ ticket.author.username }} 
            || Handled by:  {{ ticket.ticket_owner.username }}
            || Team: {{ ticket.team_tickets.name }} 
            || Created: {{ moment(ticket.timestamp).fromNow() }} 
            </p>
        </td>
    </tr>
</table>







