{% extends "base.html" %}

{% block content %}
{% include '_sideBarAdmin.html' %}
<div class="admin-wrapper">
    <h1>Teams</h1>
    
    <div class="team_table">
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Topic</th>
                <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                <th scope="row">{{ topic.topic }}</a></th>
                <th scope="row"><a href="{{ url_for('alter_topic', topic=topic.topic) }}">Change</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        <h5><a href="{{ url_for('create_topic') }}">Create new topic</a></h5>
    </div>
</div>
{% endblock %}