{% extends "base.html" %}

{% block content %}
<div class="create-wrapper">
    <h1>Create new ticket</h1>
    <form action="" method="post">
        <div>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(cols=50, rows=1) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.csrf_token }}
            {{ form.topic.label }}<br>
            {{ form.topic }}<br>
            {% for error in form.topic.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.csrf_token }}
            {{ form.severity.label }}<br>
            {{ form.severity }}<br>
            {% for error in form.severity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.csrf_token }}
            {{ form.team.label }}<br>
            {{ form.team }}<br>
            {% for error in form.team.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ticket.label }}<br>
            {{ form.ticket(cols=100, rows=20) }}<br>
            {% for error in form.ticket.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        </div>
    </form>
</div>
{% endblock %}